{% extends "layout.html" %}
{% block body %}
	{% include "navbar.html" %}
	<div id="listing">
		<div class="photos">
			<div class="cover-image" style="background-image:url({{ info[0]['p']['postInfo']['photos'] }});"></div>
		</div>

		<div class="listing-details">
			<el-row :gutter="10">
				<el-col :md="16">
					<div class="listing-title">
						{{ info[0]['p']['localityName'] }}
					</div>
					<div class="listing-location">
						{{ info[0]['p']['postInfo']['location']['city'] }}, {{ info[0]['p']['postInfo']['location']['state'] }}
					</div>
					<div class="listing-description">
						{{ info[0]['p']['postInfo']['description'] }}
					</div>
				</el-col>
				<el-col :md="8">
					<div class="container">
						Features
					</div>
				</el-col>
			</el-row>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/housing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
{% endblock %}