{% extends "layout.html" %}
{% block body %}
	<div id="listing">
		<div class="header center-left">
			<a href="/" id="logo">
				<span>Peters</span>list
			</a>
		</div>

		<div class="photos">
			<div class="cover-image" style="background-image:url(https://images.unsplash.com/photo-1486304873000-235643847519?dpr=2&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=&bg=);"></div>
		</div>

		<div class="listing-details">
			<el-row :gutter="10">
				<el-col :md="16">
					<div class="listing-title">
						{{ info[0]['p']['localityName'] }}
					</div>
					<div class="listing-description">
						{{ info[0]['p']['postInfo']['description'] }}
					</div>
				</el-col>
				<el-col :md="8">
					<div class="container">
						Features
					</div>
				</el-col>
			</el-row>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='js/housing.js') }}"></script>
{% endblock %}