{% extends "layout.html" %}
{% block body %}
	<div id="main">
		<a id="logo">
			<span>Peters</span>list
		</a>
		<div id="search-panel" {% raw %}:class="{ clicked: searchPanelType !== '' }"{% endraw %}>
			<div id="search-panel-icons">
				<el-row :gutter="10">
					<el-col :xs="12" :sm="8" :md="4" :lg="4">
						<div class="search-panel-icon"
								v-on:click="showSearchPanel('housing')"
								:class="{ active: searchPanelType === 'housing' }">
							<!-- House by hans draiman from the Noun Project -->
							<img src="{{ url_for('static', filename='img/housing.svg') }}">
						</div>
						<span class="search-panel-label">HOUSING</span>
					</el-col>
					<el-col :xs="12" :sm="8" :md="4" :lg="4">
						<div class="search-panel-icon"
								v-on:click="showSearchPanel('job')"
								:class="{ active: searchPanelType === 'job' }">
							<!-- Briefcase by mikicon from the Noun Project -->
							<img src="{{ url_for('static', filename='img/job.svg') }}">
						</div>
						<span class="search-panel-label">JOB</span>
					</el-col>
					<el-col :xs="12" :sm="8" :md="4" :lg="4">
						<div class="search-panel-icon"
								v-on:click="showSearchPanel('event')"
								:class="{ active: searchPanelType === 'event' }">
							<!-- Ticket by Awesome from the Noun Project -->
							<img src="{{ url_for('static', filename='img/event.svg') }}">
						</div>
						<span class="search-panel-label">EVENT</span>
					</el-col>
					<el-col :xs="12" :sm="8" :md="4" :lg="4">
						<div class="search-panel-icon"
								v-on:click="showSearchPanel('sale')"
								:class="{ active: searchPanelType === 'sale' }">
							<!-- sales tag by Mihail Zhukov from the Noun Project -->
							<img src="{{ url_for('static', filename='img/sale.svg') }}">
						</div>
						<span class="search-panel-label">ITEM SALE</span>
					</el-col>
					<el-col :xs="12" :sm="8" :md="4" :lg="4">
						<div class="search-panel-icon"
								v-on:click="showSearchPanel('lostandfound')"
								:class="{ active: searchPanelType === 'lostandfound' }">
							<!-- Heart by Lorena Salagre from the Noun Project -->
							<img src="{{ url_for('static', filename='img/romance.svg') }}">
						</div>
						<span class="search-panel-label">LOST & FOUND</span>
					</el-col>
					<el-col :xs="12" :sm="8" :md="4" :lg="4">
						<div class="search-panel-icon"
								v-on:click="showSearchPanel('search')"
								:class="{ active: searchPanelType === 'search' }">
							<!-- Search by Deepz from the Noun Project -->
							<img src="{{ url_for('static', filename='img/search.svg') }}">
						</div>
						<span class="search-panel-label">SEARCH</span>
					</el-col>
				</el-row>
			</div>
			<transition name="search-panel-options">
				<div id="search-panel-options" v-if="searchPanelType !== ''">
					<div id="search-panel-house" v-if="searchPanelType === 'housing'">
						<el-row :gutter="10">
							<el-col :md="6">
								<el-dropdown @command="setHousingRoommate">
									<el-button>
										[[ housingRoommateLabel ]]
										<i class="el-icon-caret-bottom el-icon--right"></i>
									</el-button>
									<el-dropdown-menu slot="dropdown">
										<el-dropdown-item command="0">All</el-dropdown-item>
										<el-dropdown-item command="1">1 (Single)</el-dropdown-item>
										<el-dropdown-item command="2">2 (Double)</el-dropdown-item>
										<el-dropdown-item command="3">3 (Triple)</el-dropdown-item>
										<el-dropdown-item command="4">4+</el-dropdown-item>
									</el-dropdown-menu>
								</el-dropdown>
							</el-col>
							<el-col :md="18">
								<el-slider
									v-model="housingPriceRange"
									range
									:min="200"
									:max="1500"
									:format-tooltip="formatPriceRange">
								</el-slider>	
							</el-col>
							<el-col :md="15">
								<el-checkbox-group v-model="housingCheckbox">
									<el-checkbox-button v-for="option in housingOptions" :label="option" :key="option">[[option]]</el-checkbox-button>
								</el-checkbox-group>
							</el-col>
							<el-col :md="9">
								<el-date-picker
									v-model="searchDateRangeStart"
									type="date"
									placeholder="Move-in Date">
								</el-date-picker>
							</el-col>
						</el-row>
					</div>
					<div id="search-panel-job" v-if="searchPanelType === 'job'">
						<el-input
							placeholder="Search for Jobs"
							icon="search"
							v-model="searchInput"
							:on-icon-click="handleSearch">
						</el-input>
					</div>
					<div id="search-panel-event" v-if="searchPanelType === 'event'">
						<el-input
							placeholder="Event Name"
							v-model="searchInput"
							:on-icon-click="handleSearch">
						</el-input>
						<el-input
							placeholder="Location"
							v-model="searchInput"
							:on-icon-click="handleSearch">
						</el-input>
					</div>
					<div id="search-panel-sale" v-if="searchPanelType === 'sale'">
						<el-input
							placeholder="Search for Item"
							icon="search"
							v-model="searchInput"
							:on-icon-click="handleSearch">
						</el-input>
					</div>
					<div id="search-panel-romance" v-if="searchPanelType === 'romance'">
						romance
					</div>
					<div id="search-panel-search" v-if="searchPanelType === 'search'">
						<el-input
							placeholder="Search"
							icon="search"
							v-model="searchInput"
							:on-icon-click="handleSearch"
							@keyup.enter="handleSearch">
						</el-input>
					</div>
				</div>
			</transition>
		</div>
		<div id="housing-results" v-if="searchPanelType === 'housing'">
			<el-row :gutter="30">
				<el-col :md="8">
					<el-card :body-style="{ padding: '0px' }">
						<img src="https://images.unsplash.com/photo-1486304873000-235643847519?dpr=2&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=&bg=" class="image">
						<div style="padding: 14px;">
							<span>UTC Berkeley</span>
							<div class="bottom">
							Available June 16 for $650/month
							</div>
						</div>
					</el-card>
				</el-col>
				<el-col :md="8">
					<el-card :body-style="{ padding: '0px' }">
						<img src="https://images.unsplash.com/photo-1488805990569-3c9e1d76d51c?dpr=2&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=&bg=" class="image">
						<div style="padding: 14px;">
							<span>VDC Norte Sublease</span>
							<div class="bottom">
							Available June 29 for $950/month
							</div>
						</div>
					</el-card>
				</el-col>
				<el-col :md="8">
					<el-card :body-style="{ padding: '0px' }">
						<img src="https://images.unsplash.com/photo-1463620910506-d0458143143e?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=" class="image">
						<div style="padding: 14px;">
							<span>Oxford Court</span>
							<div class="bottom">
							Available July 1 for $720/month
							</div>
						</div>
					</el-card>
				</el-col>
			</el-row>
		</div>
	</div>
{% endblock %}